body {
  font-family: Arial;
  text-align: center;
  background: #111;
  color: white;
}

.hidden {
  display: none;
}

#grid {
  display: grid;
  grid-template-columns: repeat(5, 70px);
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.box {
  width: 70px;
  height: 70px;
  background: #444;
  border-radius: 10px;
  cursor: pointer;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box.open {
  background: #222;
}